<div class="container-aboutMe">
    <div class="container-presentacion">
        <h1>Hi, i'm Jeremy Encarnacion Desarrollador de Software</h1>
        <p>{{developerOcuppation}}</p>
    </div>
    <div class="container-imagen">
        <img ngSrc="/assets/images/Punpun.gif" alt="Punpun" width="200" height="200"/>
    </div>
</div>
<div class="container-grid">
    <div class="grid-container">
        <div class="grid-item">
            <img ngSrc="/assets/images/CyberpunkCity.jpg" alt="CyberpunkCity" width="500" height="200"/>
        </div>
        <div class="grid-item">
            Me vuelvo a presentar soy Jeremy Encarnacion, desarrollador de Software con conocimiento en Ethical Hacking
            y prontamente cursando una carrera de Inteligencia Artificial. Soy un desarrollador de Software graduado del ITLA
            un instituto especializado en la informatica en mi pais natal Republica Dominicana, tengo experiencia laboral tanto
            como programador Frontend como Backend realizando API's y administrando Base de Datos.
        </div>
    </div>
</div>
