<div class="container-estudios">
    <div class="container-titulo">
        <h1>Estudios</h1>
    </div>
    <div class="container-imagen1">
        <img ngSrc="/assets/images/Estudios.jpg" alt="Estudios" width="400" height="200" />
    </div>
</div>
<div class="container-scroll">
    <div class="scroll-container">
        <img ngSrc="/assets/images/CertificacionITLA.jpeg" alt="ITLA" width="850" height="550" />
        <img ngSrc="/assets/images/InsigniaPython.png" alt="Python" width="850" height="550" />
        <img ngSrc="/assets/images/InsigniaCyberSeguridad.png" alt="CyberSeguridad" width="850" height="550" />
        <img ngSrc="/assets/images/CertificadoCSS.png" alt="CSS" width="850" height="550" />
    </div>
</div>