<div class="container-experiencias">
    <div class="container-titulo">
        <h1>{{title}}</h1>
    </div>
    <div class="container-imagen">
        <img ngSrc="/assets/images/Experiencias.gif" alt="Experiencias" width="400" height="200"/>
    </div>
</div>
<div class="container-grid">
    <div class="grid-container">
        <div class="item-grid">
            <img ngSrc="/assets/images/PlazaLama(Logo).jpg" alt="Plaza Lama" width="322" height="295" />
        </div>
        <div class="item-grid">
            <h1>Plaza Lama:</h1>
            <p>
                En Plaza Lama realice una pasantia de 400 horas donde trabaje como Desarrollador Fullstack Jr.,
                trabajaba tanto con las base de datos de Oracle como en el Frontend usando Angular.
            </p>
            <h2>Tecnologias Usadas:</h2>
            <p><strong>Base de Datos:</strong> Oracle y Mysql</p>
            <p><strong>Backend:</strong> CodeIgniter y Django</p>
            <p><strong>Frontend:</strong> Angular</p>
        </div>
    </div>
    <div class="grid-container">
        <div class="item-grid">
            <h1>Brinks:</h1>
            <p>
                En Brinks Cash Secure trabaje durante 6 meses por un contrato temporal, en la empresa internacional me desempeñe como
                administrador de Base de Datos y Desarrollador Backend en la creacion de ETL's de migracion de aplicacion a otra,
                usando API's.
            </p>
            <h2>Tecnologias Usadas:</h2>
            <p><Strong>Base De Datos:</Strong> SQL Server y Oracle</p>
            <p><strong>Backend:</strong> ASP.net(Entity Framework)</p>
        </div>
        <div class="item-grid">
            <img class="Brinks" ngSrc="/assets/images/Brinks(Logo).png" alt="Brinks" width="400" height="322" />
        </div>
    </div>
</div>
