.container-experiencias{
    background-color:black;
    color:white;
    display:flex;
    justify-content:space-around;
}

.container-titulo{
    margin:10px;
    width:50%;
}

.container-titulo > h1{
    font-size:48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-imagen{
    margin:10px;
}

.container-grid{
    background-color:black;
}

.grid-container{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:50% 50%;
    color:white;
}

.item-grid{
    font-family: 'Poppins', sans-serif;
}

.item-grid > h1{
    font-size:24px;
    font-weight:bold;
}

.item-grid > h2{
    font-size:20px;
}

.item-grid > .Brinks{
    margin-left:50%;
}